extends layout

block content
    h1.dis-left= title
    div.row
        each bug, i in buglist
            form.form-horizontal#formEditUser(name="addbug",method="post",action="/#{bug._id}/edit")
                div.first-group
                    div.control-group
                        label.control-label Bug Number
                        div.controls
                            input#inputBugNumber(type="text", name="BugNumber" value="#{bug.BugNumber}")
                    div.control-group
                        label.control-label Date
                        div.controls
                            input#inputdate(type="text", name="date", ng-model="bugDate"  value="#{bug.date}")
                    div.control-group
                        label.control-label Status
                        div.controls
                            input#inputstatus(type="text", name="status" value="#{bug.status}")
                    div.control-group
                        label.control-label Priority
                        div.controls
                            input#inputpriority(type="text", name="priority" value="#{bug.priority}")
                    div.control-group
                        label.control-label Summary
                        div.controls
                            input#inputsummary(type="text", name="summary" value="#{bug.summary}")
                div.second-group
                    div.control-group
                        label.control-label Build
                        div.controls
                            textarea#inputbuild(type="text", name="build", ng-model="bugBuild") #{bug.build}
                    div.control-group
                        label.control-label Language
                        div.controls
                            textarea#inputlanguage(type="text", name="language", ng-model="bugLanguage") #{bug.language}
                    div.control-group
                        label.control-label Device
                        div.controls
                            textarea#inputdevice(type="text", name="device", ng-model="bugDevice") #{bug.device}
                    div.control-group
                        label.control-label OS
                        div.controls
                            textarea#inputos(type="text", name="os", ng-model="bugOs") #{bug.os}
                    div.control-group
                        label.control-label Repro
                        div.controls
                            input#inputrepro(type="text", name="repro", ng-model="bugRepro", value="#{bug.repro}")
                div.third-group
                    div.control-group
                        label.control-label Steps to Reproduce 
                        div.controls
                            textarea#inputStepsToReproduce(type="text", name="StepsToReproduce", ng-model="bugSteps") #{bug.StepsToReproduce}
                    div.control-group
                        label.control-label Observed Results
                        div.controls
                            textarea#inputObservedResults(type="text", name="ObservedResults", ng-model="bugObserved") #{bug.ObservedResults}
                    div.control-group
                        label.control-label Expected Results 
                        div.controls
                            textarea#inputExpectedResults(type="text", name="ExpectedResults", ng-model="bugExpected") #{bug.ExpectedResults}
                    div.control-group
                        label.control-label Requirement
                        div.controls
                            textarea#inputrequirement(type="text", name="requirement", ng-model="bugCertification") #{bug.requirement}
                div.last-part
                    button.btn#btnSubmit(type="submit") Confirm
    div.row             
        div.first-group
            div.control-group
                label.control-label Jira Bug Template
                div.controls
                    textarea.j-temp
                        | *Build:* 
                        {{bugBuild}}
                        | 
                        | *Language:*
                        | - {{bugLanguage}}
                        | 
                        | *Device:*
                        | - {{bugDevice}}
                        | 
                        | *OS:*
                        | - {{bugOs}}
                        | 
                        | *Repro:*
                        | - {{bugRepro}}
                        | 
                        | ----
                        | 
                        | *Steps to Reproduce:*
                        | {{bugSteps}}
                        | 
                        | *Observed Results:*
                        | {{bugObserved}}
                        | 
                        | *Expected Results:*
                        | {{bugExpected}}
                        | 
                        | {color:red}
                        | *Certification Requirement:*
                        | 
                        | {{bugCertification}}
                        | {color}
        div.second-group
            div.control-group
                label.control-label Dev Track Template
                div.controls
                    textarea.d-temp
                        | Build: {{bugBuild}} 
                        | 
                        | Language: 
                        | - {{bugLanguage}}
                        | 
                        | Device: 
                        | - {{bugDevice}}
                        | 
                        | OS: 
                        | - {{bugOs}}
                        | 
                        | Repro: 
                        | - {{bugRepro}}
                        | 
                        | Steps to Reproduce: 
                        | {{bugSteps}}
                        | 
                        | Observed Results: 
                        | {{bugObserved}}
                        | 
                        | Expected Results: 
                        | {{bugExpected}}
                        | 
                        | Note: 
                        | {{bugNote}}
                        | 
                        | Certification Requirement: 
                        | 
                        | {{bugCertification}}
